<main class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="workspace" id="profile_workspace">
          <div id="profile_list" class="noselect"></div>
        </div>
      </div>
      <div class="row">
        <div class="workspace" id="container_workspace">
          <div id="container_list"></div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      
      
      <div class="row">
        <div class="workspace" id="instruction_workspace">
        <%= button_tag "New Instruction", id: "new_instruction_btn", class: "btn btn-primary btn-md" %>
          <div class="panel-group" id="instruction_list">
          </div>
        </div>
      </div>
        <%= button_tag "Submit Run To Transcriptic", class: "btn", id: "submit_run_btn", data: { toggle: "modal", target: "#submitModal" } %>
    </div>
  </div>
</main>
<%= render "runs/submit" %>
<%= render "runs/success" %>
<%= render "containers/form" %>
<%= render "projects/form" %>
<%= render "runs/form" %>
<%= render "instructions/form" %>

<%= render "instructions/instruction_template" %>