<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="workspace" id="profile_workspace">
          <div id="profile_list" class="noselect"></div>
        </div>
      </div>
      <div class="row">
        <div class="workspace" id="container_workspace">
          <div id="container_list"></div>
        </div>
        <%= render "scrap/test_controls" %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <%= button_tag "New Instruction", id: "new_instruction_btn", class: "btn btn-primary btn-md" %>
      </div>
      <div class="row">
        <div class="workspace" id="instruction_workspace">
          <div id="instruction_list">
            <%= render "scrap/instruction_list" %>
          </div>
        </div>
      </div>
        <%= button_tag "Submit Run To Transcriptic", class: "btn", id: "submit_run_btn", data: { toggle: "modal", target: "#submitModal" } %>
    </div>
  </div>
</div>
<%= render "runs/submit" %>
<%= render "containers/form" %>
<%= render "projects/form" %>
<%= render "runs/form" %>