<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="workspace" id="organization_workspace">
          ORGANIZATION WORKSPACE
        </div>
      </div>
      <div class="row">
        <div class="workspace" id="container_workspace">
          <div id="container_list"></div>
        </div>
        <%= render "shared/test_controls" %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <%= button_tag "New Instruction", id: "new_instruction_btn", class: "btn btn-primary btn-md" %>
      </div>
      <div class="row">
        <div class="workspace" id="instruction_workspace">
          INSTRUCTION WORKSPACE
          <div id="instruction_list"></div>
          <%= render "instructions/form" %>
          <%= render "instructions/distribute_form" %>
          <%= render "instructions/transfer_form" %>
        </div>
      </div>
      <div class="row">
        <%= button_tag "Submit", class: "btn btn-success btn-md", id: "submit_run_btn", data: { toggle: "modal", target: "#submitModal" } %>
      </div>
    </div>
  </div>
</div>
<%= render "runs/submit" %>
<%= render "containers/form" %>